<div class="card">
    <div class="card-header">
        {{ selectedTraining.name }}
    </div>
    <div class="card-block">  
        <div class="card-title" [class.take-place-soon]="selectedTraining.nextRun | takePlaceSoon ">
            Next run: {{ selectedTraining.nextRun | date: 'd/M/y' }} 
        </div>   
        <div class="card-text">
            <img [src]="selectedTraining.imgUrl" height="142" width="142">    
        </div>
    </div>  
    <div class="card-footer">
        <form [formGroup]="form" (ngSubmit)="onSubmit()"> 
            <label>Course Name:
                <input 
                    [class.has-error]="form.controls['name'].dirty && form.controls['name'].invalid"
                    [class.warning]="form.controls['name'].prestine && form.controls['name'].invalid"
                    type="text" 
                    formControlName="name">
            </label>
            <br> 
            <br> 
            <label>Date:
                <input 
                    [class.has-error]="form.controls['nextRun'].dirty && form.controls['nextRun'].invalid"
                    [class.warning]="form.controls['nextRun'].prestine && form.controls['nextRun'].invalid"
                    type="date" 
                    formControlName="nextRun">
            </label>
            <br> 
            <br> 
            <button class="btn btn-primary" [disabled]="!form.valid" type="submit">Save</button>
        </form> 
    </div> 
</div>  
 

